/* ----- Sidebar Styles ----- */
#light .sidebar {
    background-color: #e9ecef;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 2px 1px gray;
    transition: ease all .5s;
    z-index: 1;
}

#light .sidebar h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #333;
}

#light .sidebar .nav-item {
    border-bottom: 1px solid #adb5bd;
}

#light .sidebar .nav-link {
    color: #333;
    cursor: pointer;
    font-weight: 300;
}

#light .sidebar .nav-link:hover {
    color: #333;
}
  
#light .sidebar .nav-item {
    transition: all .5s;
}
  
#light .sidebar .nav-item:hover {
    background-color: #ced4da;
}

/* ----- Login/Signup Page Styles ----- */
#light .login-image {
    position: relative;
    display: inline;
    height: 700px;
}
  
#light .login-image::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
}
  
#light .login-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -100;
}

#light .form {
    height: 700px;
    background-color: #e9ecef;
}

#light .form .nav-link.active {
    background-color: #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
}

#light .form .nav-link {
    color: #333;
    cursor: pointer;
    font-weight: 300;
}

#light .form .nav-tabs {
    border-bottom: 1px solid #bababa;
}

#light .form .nav-link:hover {
    border-bottom: 1px solid #bababa;
}

#light .form-separator::before, .form-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #bababa;
}
  
#light .form-separator::before {
    margin-right: .25em;
}
  
#light .form-separator::after {
    margin-left: .25em;
}

#light .google-button-container {
    position: relative;
}

#light .fa-google {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#light .form .input-group-text {
    cursor: pointer;
}

/* ----- Profile Page Styles ----- */

#light .canvas-container {
    height: 100%;
    width: 100%;
}

#light .profile-content {
    background-color: #f7f7f7;
    border: 1px solid #e9ecef;
    border-radius: 8px;
}

#light .proficiency-card {
    box-shadow: 1px 2px 5px gray;
    transition: all .25s;
}

#light .proficiency-card:hover {
    transform: translateY(-3px);
    box-shadow: 1px 5px 8px rgb(175, 175, 175);
}

#light .fa-pen-to-square, #light .fa-trash {
    cursor: pointer;
}
